<%= form_for(@wod) do |f| %>
  <% if @wod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wod.errors.count, "error") %> prohibited this wod from being saved:</h2>

      <ul>
      <% @wod.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.select :name, options_for_select(["Fran", "Cindy", "Annie"]) %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :result %><br>
    <%= f.text_field :result %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
